<section class="feedback" id="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-text">
      Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
    </p>
    <div class="feedback-all-box swiper">
      <div class="feedback-swiper-box swiper-wrapper"></div>
    </div>
    <div class="feedback-nav-box">
      <div class="feedback-points-box swiper-pagination"></div>
      <div class="feedback-btn-box">
        <button
          class="feedback-btn feedback-btn-prev swiper-button-prev"
          type="button"
        >
          <svg class="feedback-btn-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>
        <button
          class="feedback-btn feedback-btn-next swiper-button-next"
          type="button"
        >
          <svg class="feedback-btn-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
