<header class="header" id="header">
  <div class="container header-container">
    <a
      href="./index.html"
      class="header-link-logo"
      aria-label="логотип компанії"
    >
      <svg class="logo-icon" width="159" height="35">
        <use href="./img/sprite.svg#icon-logo-header"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-list-item">
          <a href="#furniture" class="header-link">Наші меблі</a>
        </li>
        <li class="header-list-item">
          <a href="#about-us" class="header-link">Про нас</a>
        </li>
        <li class="header-list-item">
          <a href="#faq" class="header-link">Часті питання</a>
        </li>
        <li class="header-list-item">
          <a href="#feedback" class="header-link">Відгуки</a>
        </li>
        <li class="header-list-item">
          <a href="#furniture" class="header-buy-button">До покупок</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-burger-menu" aria-label="меню">
      <svg class="header-burger-icon">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <button
      id="theme-toggle"
      class="theme-toggle-button"
      aria-label="Перемикання теми"
    ></button>
    <button class="scroll-top-btn" aria-label="Проскролити до гори">
      &#8679;
    </button>
  </div>
</header>
