<div class="modal-navbar">
  <div class="container">
    <div class="mobile-menu">
      <div class="mobile-menu-top">
        <a
          href="./index.html"
          class="mobile-logo"
          aria-label="логотип компанії"
        >
          <svg class="logo-icon" width="159" height="35">
            <use href="./img/sprite.svg#icon-logo-header"></use>
          </svg>
        </a>

        <button class="modal-close-btn" type="button" aria-label="закрити меню">
          <svg class="close-icon" width="17" height="17">
            <use href="./img/sprite.svg#icon-x"></use>
          </svg>
        </button>
      </div>
      <nav class="mob-menu-nav">
        <ul class="mob-menu-wrapper">
          <li><a href="#furniture" class="mobile-link">Наші меблі</a></li>
          <li><a href="#about-us" class="mobile-link">Про нас</a></li>
          <li><a href="#faq" class="mobile-link">Часті питання</a></li>
          <li><a href="#feedback" class="mobile-link">Відгуки</a></li>
          <li>
            <a href="#furniture" class="mobile-buy-btn">До покупок</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
