<section class="popular">
  <div class="container">
    <h2 class="popular-title">Популярні товари</h2>

    <div class="popular-all-box swiper">
      <div class="popular-swiper-box swiper-wrapper"></div>
    </div>

    <div class="popular-nav-box">
      <div class="popular-points-box swiper-pagination"></div>
      <div class="popular-btn-box">
        <button
          class="popular-btn popular-btn-prev swiper-button-prev"
          type="button"
        >
          <svg class="popular-btn-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>
        <button
          class="popular-btn popular-btn-next swiper-button-next"
          type="button"
        >
          <svg class="popular-btn-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
